---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import InstagramFeaturedPost from '../components/InstagramFeaturedPost.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Testimonials from '../components/Testimonials.astro';
import Faq from '../components/Faq.astro';
import CallToAction from '../components/CallToAction.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <InstagramFeaturedPost />
    <About />
    <Services />
    <Testimonials />
    <Faq />
    <CallToAction />
  </main>
  <Footer />
</Layout>
